.root {
  width: 400px;
  padding: 40px 80px 100px 80px;
  border: 1px solid #dedede;
  margin: 50px auto;
  background-color: #1D263A;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 30px !important;
}

//---//
.buttons {
  button { 
    font-size: 15px; 
    color: #fff; 
    background-color: #725E49; 
    border: none; 
    outline: #544036;
    outline-width: 1px;
    border-radius: 15px; 
    cursor: pointer; 
    box-shadow: 0 16px 36px rgba(84 64 54 / 22%);
    padding: 15px;
  }

  a {
  text-decoration: none;
  color: #544036;
  }

  button:hover{
    background-color: #E3CFB4; 
    box-shadow: 0 16px 36px rgba(84 64 54 / 22%);
    color:  rgba(84 64 54 / 22%);
    transition: background-color, color 0.2s;
  }
}